.cabecera {
  background-color: #F3E370;
  border: 1px solid #F59519;
  border-radius: 10px 10px 0 0;
}
.menu-bc {
  padding-left: 20px;
}

img{
  max-height: 129px;
}

div.secondary.callout.text-center{
  min-height: 242px;
}
